/*
 * Copyright (c) 2021 EVERGREEN FUND 501(c)(3)
 * Copyright (c) 2022 Jacob Tinkhauser
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

&i2c0 {
    status = "okay";
    max30102: max30102@57 {
        compatible = "maxim,max30102";
        reg = <0x57>;
        intb-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
        label = "MAX30102";
        mode = <3>;
        fifo-a-full = <1>;
    };
}; 

&i2c1 {
    status = "okay";
    mpu6050: mpu6050@68 {
        compatible = "invensense,mpu6050";
        reg = <0x68>;
        label = "MPU6050";
        int-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
    };
};