/*
 * Copyright (c) 2021 EVERGREEN FUND 501(c)(3)
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

&i2c0 {
    status = "okay";
    max30102: max30102@57 {
        compatible = "maxim,max30102";
        reg = <0x57>;
        intb-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>; /* P0.00 / 3 */
        label = "MAX30102";
        mode = <3>;
        fifo-a-full = <1>;
    };
};
